<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CumulativeProject1</title>
    <link rel="stylesheet" href="~/Content/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/vendor/remixicon.css">
    <link rel="stylesheet" href="~/Content/assets/css/vendor/eduvibe-font.css">
    <link rel="stylesheet" href="~/Content/assets/css/vendor/magnifypopup.css">
    <link rel="stylesheet" href="~/Content/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/vendor/odometer.css">
    <link rel="stylesheet" href="~/Content/assets/css/vendor/lightbox.css">
    <link rel="stylesheet" href="~/Content/assets/css/vendor/animation.css">
    <link rel="stylesheet" href="~/Content/assets/css/vendor/jqueru-ui-min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <header class="edu-header  header-sticky header-transparent header-style-2 header-default ">
            <div class="row align-items-center">
                <div class="col-lg-4 col-xl-3 col-md-6 col-6">
                    <div class="logo">
                        <a href="index.html">
                            <img class="logo-light" src="~/Content/assets/images/logo/logo.png" alt="Site Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-xl-block">
                    <nav class="mainmenu-nav d-none d-lg-block">
                        <ul class="mainmenu">
                            <li class="">
                                <a href="/">Home</a>

                            </li>

                            <li class="">
                                <a href="/Teacher/List">Teacher</a>
                            </li>

                            <li class="">
                                <a href="/Students/List">Student</a>
                            </li>
                            


                        </ul>
                    </nav>
                </div>

            </div>
        </header>


        <!-- End Search Popup  -->
        <!-- Start Sldier Area  -->
        @RenderBody()
    </div>


    <script src="~/Content/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/Content/assets/js/vendor/jquery.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/vendor/sal.min.js"></script>
    <script src="~/Content/assets/js/vendor/backtotop.js"></script>
    <script src="~/Content/assets/js/vendor/magnifypopup.js"></script>
    <script src="~/Content/assets/js/vendor/slick.js"></script>
    <script src="~/Content/assets/js/vendor/countdown.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/Content/assets/js/vendor/odometer.js"></script>
    <script src="~/Content/assets/js/vendor/isotop.js"></script>
    <script src="~/Content/assets/js/vendor/imageloaded.js"></script>
    <script src="~/Content/assets/js/vendor/lightbox.js"></script>
    <script src="~/Content/assets/js/vendor/wow.js"></script>
    <script src="~/Content/assets/js/vendor/paralax.min.js"></script>
    <script src="~/Content/assets/js/vendor/paralax-scroll.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/Content/assets/js/vendor/tilt.jquery.min.js"></script>
    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>