<div class="slider-area banner-style-3 bg-image">
    <div class="d-flex align-items-center height-940">
        <div class="container eduvibe-animated-shape">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="inner">
                        <div class="content text-start">
                            <span class="pre-title" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Better Learning Future With Jason</span>
                            <h1 class="title" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">Education With Jason Eromosele</h1>
                            <p class="description" data-sal-delay="350" data-sal="slide-up" data-sal-duration="800">come learn something new with jason especially the ladies, he only teach ladies aka the ladies man.</p>
                            <a class="edu-btn" href="/dashboard" data-sal-delay="450" data-sal="slide-up" data-sal-duration="800">Dashboard <i class="icon-arrow-right-line-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-image">
                        <div class="banner-main-image">
                            <img class="img-01" data-sal-delay="150" data-sal="fade" data-sal-duration="800" src="~/Content/assets/images/banner/banner-03/image-01.png" alt="Banner Images" />
                        </div>
                        <img class="img-02" data-sal-delay="150" data-sal="fade" data-sal-duration="800" src="~/Content/assets/images/banner/banner-03/image-02.png" alt="Banner Images" />
                        <img class="img-03" data-sal-delay="150" data-sal="fade" data-sal-duration="800" src="~/Content/assets/images/banner/banner-03/image-03.png" alt="Banner Images" />
                    </div>
                </div>
            </div>
            <div class="shape-wrapper">
                <div class="shape-dot-wrapper shape-wrapper d-xl-block d-none">
                    <div class="shape-image shape-image-1">
                        <img src="~/Content/assets/images/shapes/shape-11-03.png" alt="Shape Thumb" />
                    </div>
                    <div class="shape-image shape-image-2">
                        <img src="~/Content/assets/images/shapes/shape-01-02.png" alt="Shape Thumb" />
                    </div>
                    <div class="shape-image shape-image-3">
                        <img src="~/Content/assets/images/shapes/shape-13-06-07.png" alt="Shap
                                e Thumb" />
                    </div>
                    <div class="shape-image shape-image-4">
                        <img src="~/Content/assets/images/shapes/shape-26.png" alt="Shape Thumb" />
                    </div>
                    <div class="shape-image shape-image-5">
                        <img src="~/Content/assets/images/shapes/shape-05-01.png" alt="Shape Thumb" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>